{
	"miniprogramRoot": "dist/",
	"projectname": "mpfixit",
	"description": "mini program for fixit",
	"appid": "your appid for wx",
	"setting": {
		"urlCheck": true,
		"es6": false,
		"postcss": false,
		"minified": false,
		"newFeature": true
	},
	"compileType": "miniprogram",
	"condition": {}
}
