.signin {
  .at-input {
    margin-left: 0;
  }

  .input-placeholder {
    margin-left: 8px;
  }

  .footer {
    position: fixed;
    left: 0;
    right:0;
    bottom: 100px;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
  }
}
