.wallet {
  .card {
    padding-bottom: 100rpx !important;
    background-color: #4a4c5b;
    color: #fff;

    .amount {
      font-size: 3rem;
      font-weight: 500;
    }
  }

  .details {
    .empty {
      margin: -45rpx auto 0;
      width: 82%;
      background-color: #fff;
      border-radius: 5rpx;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 -1px 0px rgba(0, 0, 0, 0.02);

      .tip {
        color: #666;
      }
    }
  }

  .bottom-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
  }

  .at-button--disabled {
    border:1px solid #808695;
    background:#808695;
  }
}
